body{
	background-color: black;
	font-family: "helvetica", sans-serif;
}
.top-hamburger{
	width: 25vw;
	height:10vh;
	background-color: cyan;
	margin-bottom: 4%;
	font-family: "helvetica", sans-serif;
	font-size: 2em;
	text-align: center;
	color:#f442ce;
}
#menu-one{

}
.bottom-menu-format{
	width: 35vw;
	height: 12vw;
	background-color: #e842f4;
	margin-bottom: 4%;
}

#something{
	width: 10vw;
	height: 25vh;
	background-color: #42f450;
	margin-bottom: 4%;

}
.background-text{
	/*outline: 1px solid yellow;*/
	z-index: -1;
	position: absolute;
	color: #140113;
	margin-left: 26%;
	font-size: 2em;
	opacity: 0;
	padding-top: 0;
	margin-top: none;
}