body{
	background-color: black;
}
#box1{
	width: 40%;
	height:100px;
	background-color: cyan;
	margin-bottom: 5%;
	color:#f442eb;
	font-size: 4em;
	text-align: center;

}
#box1 a{
	text-decoration: none;
}
#box2{
	width: 40%;
	height:100px;
	background-color: cyan;
	margin-left:15%;
	margin-bottom: 5%;
		color:#f442eb;
	font-size: 4em;
	text-align: center;
}
#box3{
	width: 40%;
	height:100px;
	background-color: cyan;
	margin-left: 30%;
		color:#f442eb;
	font-size: 4em;
	text-align: center;
}