/*defining the body*/
body{
	width: 90vw;
	font-family: "helvetica", sans-serif;
	margin-right: auto;
	margin-left: auto;
}

/*accessibility mode for the body*/
.body-accessibility{
	width: 90vw;
/*	width: 90vw;*/
	font-family: "helvetica", sans-serif;
	margin-right: auto;
	margin-left: auto;
	color: white;
	background-color:black;
	height:200vh; 
}

/*Sizing of h1 and h2*/
h1{
	font-size: 5em;
	margin-bottom: 0;
	line-height: 1em;
	margin-bottom: 1%;
}
h2{
	font-size: 1em;
	margin-top: 0;
}
/*navigation bar*/
.navigation{
	list-style-type: none;
	outline: 1px solid black;
	width: 98vw;
	/*width: 65vw;*/
	padding: 0;
  	margin: 0;
  	height: 8vh;
  	position: fixed;
  	bottom: 1vh;
  	left: 1vw;
  	font-size: 1.5em;
  	background-color: white;
  	/*color:#18fc05;*/
}
.navigation-accessibility{
	list-style-type: none;
	outline: 1px solid white;
	width: 98vw;
	padding: 0;
  	margin: 0;
  	height: 8vh;
  	position: fixed;
  	bottom: 1vh;
  	left: 1vw;
  	font-size: 1.5em;
  	background-color: black;
}
.navigation:before{
	  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.navigation li{
	display: inline-block;
	margin-left: 2vw;
	vertical-align: middle;
	line-height: 60px;
	bottom: 1vh;
	color:black;

}
.navigation a{
	text-decoration: none;
	display: block;
}
.nav-links:link{
	color:#18fc05;
}

.nav-links:visited{
	color:#18fc05;
}
.nav-links:active{
	color:#18fc05;
}

.accessibility-button{
	color:cyan;
	background-color: black;
	width: 15vw;
	height: 10vh;
	text-align: center;
	position: fixed;
  	top: 1vh;
  	right: 1vw;
  	height: 8vh;
  	font-size: 1.5em;
  	vertical-align: middle;
  	line-height: 68px;
  	padding: 0;
  	margin: 0;
  	outline: 1px solid black;
}
.accessibility-button:before{
	content: "";
 	display: inline-block;
 	vertical-align: middle;
}
.accessibility-button:hover{
	cursor: pointer;
	
}
.logo a{
	color:black;
}
.logo-accessibility{
	color:white;
	outline: 1px solid cyan;
}
iframe{
	margin-bottom: 10%;
}
.iframe-accessibility{
	display: none;
}
.text-accessible{
	font-size: 3em;
	width: 90%;
	line-height: 2.2em;
	margin-bottom: 10%;
	display: none;
}
.interview{
	font-size: 1.2em;
	line-height: 1.5em;
	width: 65%;
	margin-bottom: 10%;

}
.adam{
	background-color: cyan;
}
.charles{
	background-color:#18fc05;
}
.description{
/*	outline: 1px solid red;*/
	font-size: 1.4em;
	line-height: 1.4em;
	width: 60%;
	background-color: cyan;
	padding: 1%;
}
.interview-accessible{
	font-size: 3em;
	width: 90%;
	line-height: 2.2em;
	margin-bottom: 10%;
}
.adam-accessible{
	color:cyan;
	background-color: black;
}
.charles-accessible{
	color:#18fc05;
	background-color: black;
}
.description-accessible{
	font-size: 3em;
	width: 90%;
	line-height: 2.2em;
	background-color: black;
	color:#ff0094;
}
.description-accessible{
	font-size: 3em;
	width: 90%;
	line-height: 2.2em;
	background-color: black;
	color:#ff0094;
}
.description-accessible2{
	font-size: 3em;
	width: 90%;
	line-height: 2.2em;
	background-color: black;
	color:#eeff00;
}
.grid{
	width: 100%;
	outline: 1px solid black;
	height: 200px;
	display: flex;
}
.left{
	width: 20%;
	outline: 1px solid red;
	height: 100px;
}
.right{
	width: 80%;
	outline: 1px solid blue;
}
.color1{
	height: 10%;
	width: 30%;
	background-color: cyan;
}
.color2{
	height: 50%;
	width: 30%;
	background-color: #18fc05;
}
.headers{
	font-size: 1.4em;
	line-height: 1.4em;
	width: 60%;
	background-color: cyan;
	padding: 1%;	
}
.paragraph{
	display: none;
	font-size: 1.2em;
	line-height: 1.5em;
	width: 60%;
}
.headers-accessibility{
	background-color: black;
	color: white;
	font-size: 3em;
	line-height: 1.5em;
}
.paragraph_accessibility{
/*	outline: 1px solid pink;*/
	width: 100%;
	font-size: 3em;
	line-height: 2.2em;
	color: cyan;
}

  