/*defining the body*/
body{
	width: 90vw;
	font-family: "helvetica", sans-serif;
	margin-right: auto;
	margin-left: auto;
}

/*accessibility mode for the body*/
.body-accessibility{
	width: 90vw;
	width: 90vw;
	font-family: "helvetica", sans-serif;
	margin-right: auto;
	margin-left: auto;
	color: white;
	background-color:black;
}

/*Sizing of h1 and h2*/
h1{
	font-size: 5em;
	margin-bottom: 0;
}
h2{
	font-size: 1em;
	margin-top: 0;
}
.navigation{
	list-style-type: none;
	outline: 1px solid black;
	width: 98vw;
	padding: 0;
  	margin: 0;
  	height: 8vh;
  	position: fixed;
  	bottom: 1vh;
  	left: 1vw;
  	font-size: 1.5em;
  	background-color: white;


}
.navigation-accessibility{
	list-style-type: none;
	outline: 1px solid white;
	width: 98vw;
	padding: 0;
  	margin: 0;
  	height: 8vh;
  	position: fixed;
  	bottom: 1vh;
  	left: 1vw;
  	font-size: 1.5em;
}
.navigation li{
	display: inline-block;
	margin-left: 2vw;
	vertical-align: middle;
	line-height: 60px;
}
.navigation a{
	text-decoration: none;
	color:#18fc05;
	display: block;
}
#accessibility-button{
	color:cyan;

}
#accessibility-button:hover{
	cursor: pointer;
	
}
.logo a{
	color:black;
}
.logo-accessibility{
	color:white;
}
.iframe-accessibility{
	display: none;
}
.text-accessible{
	font-size: 3em;
	width: 90%;
	line-height: 2.2em;
	margin-bottom: 10%;
	display: none;
}
.interview{
	font-size: 1.2em;
	line-height: 1.5em;
	width: 65%;
	margin-bottom: 10%;

}
.adam{
	background-color: cyan;
}
.charles{
	background-color:#18fc05;
}
.description{
/*	outline: 1px solid red;*/
	font-size: 1.4em;
	line-height: 1.4em;
	width: 60%;
	background-color: cyan;
	padding: 1%;
}
.interview-accessible{
	font-size: 3em;
	width: 90%;
	line-height: 2.2em;
	margin-bottom: 10%;
}
.adam-accessible{
	color:cyan;
	background-color: black;
}
.charles-accessible{
	color:#18fc05;
	background-color: black;
}
.description-accessible{
	font-size: 3em;
	width: 90%;
	line-height: 2.2em;
	background-color: black;
	color:#ff0094;
}
.grid{
	width: 100%;
	outline: 1px solid black;
	height: 200px;
	display: flex;
}
.left{
	width: 20%;
	outline: 1px solid red;
	height: 100px;
}
.right{
	width: 80%;
	outline: 1px solid blue;
}
.color1{
	height: 10%;
	width: 30%;
	background-color: cyan;
}
.color2{
	height: 50%;
	width: 30%;
	background-color: #18fc05;
}
.designing{
	list-style-type: none;
/*	outline: 1px solid blue;*/
	padding-left: 0;
	margin-bottom: 10%;
}
.designing li{
	font-size: 2em;
	color: #18fc05;
}
.designing p{
/*	outline: 1px solid yellow;*/
	width: 60%;
	font-size: 1.2em;
}