body{
	font-family: "helvetica";
}
pre{
	font-family: "courier new", courier, monospace;
   font-size: 14px;
}
.container{
	display: grid;
  	grid-template-columns: 1fr 1fr;
  	grid-template-rows: 1fr 1fr 1fr 1fr;
}
#left-side1{
	/*outline: 1px solid red;*/
	background-color: #e2fffc;
}
#right-side1{
	/*outline: 1px solid blue;*/
	background-color: #e2fffc;
}
#left-side2{
	margin-top: 5%;
	/*outline: 1px solid blue;*/
}
#right-side2{
	margin-top: 5%;
	/*outline: 1px solid red;*/
}
#left-side3{
	/*outline: 1px solid red;*/
	background-color: #e2fffc;
}
#right-side3{
	/*outline: 1px solid blue;*/
	background-color: #e2fffc;
}
#left-side4{
	margin-top: 5%;
	/*outline: 1px solid red;*/
}
#left-side4{
/*	margin-top: 5%;
	outline: 1px solid red;*/
}
#box1{
	animation-name: animationName1;
	animation-duration: 1s;
	animation-iteration-count: 5;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
}
#box2{
	animation-name: animationName2;
	animation-duration: 8s;
	animation-iteration-count: infinite;
/*	animation-delay: 10s;*/

}
button{
	animation-name: animationName4;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
	background-color: yellow;
	margin:5%;
}
button a{
	font-size: 3em;
}
button a{

	color: black;
}
@keyframes animationName1{
	0%{
		width: 50px;
		height: 50px;
		background-color: yellow;
		opacity: 1;
	}
	100%{
		width: 80px;
		height: 80px;
		opacity: 0;
	}
}
@keyframes animationName2{
	0%{
		width: 50px;
		height: 50px;
		background-color: blue;
		opacity: .2
	}
	10%{
		background-color: yellow;
		opacity: 1;
	}

	35%{
		height: 30%;
		background-color: #0f34c6;
		border: 5px yellow dotted;
	}
	100%{
		background-color: pink;
		height: 100%;
		opacity: .1
		width:100%;
	}
}
p{
	animation-name: animationName3;
	animation-duration: 4s;
	animation-direction: alternate-reverse;
	animation-iteration-count: infinite;
	font-size: 3em
}
@keyframes animationName3{
	0%{
		font-size: 3em;
	}
	100%{
		font-size: 0em;
	}
}
@keyframes animationName4{
	0%{
		background-color: yellow;
	}
	100%{
		margin-left: 35%;
	}
}
